<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <div class="col">
          <label for="date">Date:
            <input type="Date" class="form-control" id="date">
          </label>
          <div class="col"></div>
        </div>
      </div>
      <div class="col">
        <div class="col">
          <label for="patient">Patient Name :
            <input type="password" class="form-control" id="patient">
          </label>
        </div>
      </div>
      <div class="col">
        <div class="col">
          <label for="doctor">Doctor Name :
            <input type="text" class="form-control" id="doctor">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>s.no</th>
            <th>particulary</th>
            <th>B.no</th>
            <th>exp.date</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>aspirin</td>
            <td>225</td>
            <td>1-1-2019</td>
            <td>x09</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
  <div class="card-footer">

    <div class="row">
      <div class="col">Total</div>
      <div class="col">100</div>
    </div>
  </div>